/*o que é uma regra css? 
Com relação a especificidade o CSS pode ser aplicado de 3 maneiras
 
  1º Como atributo dentro de uma TAG html (não é recomendado)
     <body stylle="color: yellow">
        algumas linhas de código
     </body>
  
  2º Como uma Tag html
     <style>
         E ai coloco o código css qualquer
     </style>
  
  3º Como um arquivo externo ( que é o caso deste arquivo que fiz aqui agr)*/
*{
    margin: 0;
    padding: 0;
}
  body{
    height: 100vh;
    color: white;
    
}

:root{
    font-size: 62.5%;
}

body,imput, button, textarea{
    font: 400 1.8rem/1 'Nunito', sans-serif;
}
